<tr>
  <th scope="row"><%= time %></th>
  <td><%= link_to "Disponivel", root_path %></td>
  <td><%= link_to "Disponivel", root_path %></td>
  <td><%= link_to "Disponivel", root_path %></td>
  <td><%= link_to "Disponivel", root_path %></td>
  <td><%= link_to "Disponivel", root_path %></td>
</tr>